
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Monserrat",sans-serif;
}

body{
    background: linear-gradient(180deg, #5f5d5d2b 50%, #d1db0eaf 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    flex-direction: column;
}
h1 {
    font-size: 54px;
    font-weight: 800;
    color: #000000; 
    margin-top: 20px; 
    margin-bottom: 50px;
}
h2{
    font-size: 30px;
    font-weight: 800;
    padding-bottom: 15px;
    color: white;
}
.container{
    width: 90%;
    max-width: 420px;
    text-align: center;
    padding: 20px;
    background-color: rgb(0, 0, 0);
    border-radius: 6px;
    box-shadow: 0 8px 25px rgba(255, 255, 255, 0.5);
}

.container * {
    border: none;
    outline: none;
}

.input-wrapper{
    margin-bottom: 20px;
    display: grid;
    gap: 10px;
}

input[type="date"],
input,
button{
    font-weight: 500;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    transition: border-color 0.3s;
}

input[type="date"]{
    background-color: #ffffff;
}

input:focus,
button:focus,
input[type="date"]{
    border-color: #55d0f0;
}

button{
    background-color: #ffffff;
    color: #000000;
}

.output-wrapper{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
}

.output-wrapper div{
    flex-basis: calc(50% - 20px);
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    padding: 20px;
    margin: 10px;
}

span{
    display: block;
    font-size: 2rem;
    font-weight: 500;
    color: #000000;
    margin-bottom: 5px;
}

p{
    font-size: 0.87em;
    color: #707070;
    font-weight: 400;
}

@media (max-width:768px) {

    .container{
        width: 95%;
    }

    .output-wrapper div{
        flex-basis: calc(100% - 20px);
    }
    
}